body {
    background-image: url("https://i.pinimg.com/originals/f3/42/04/f34204e1e814c6af2ad70bd58449b49c.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

iframe {
    border: 15px rgb(78, 3, 252) solid; 
    float: right; 
    margin: 50px; 
}





