@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

body {
  background-color: rgb(227, 194, 250);
}

h1 {
  font-family: "Do Hyeon", sans-serif;
}

#strain-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 2rem 2rem black;
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.strain-card {
  animation-name: fade-in;
  animation-duration: 3s;
  background-color: #affaba;
  box-shadow: 10px 10px 10px black;
  width: 370px;
  margin: 10px;
  border-radius: 10px;
  font-family: "Do Hyeon", sans-serif;
  padding: 10px;
}

.strain-card > #strain-cards {
  display: flex;
  flex-direction: row;
}

/* p > .strain-card {
    display: flex;
    flex-wrap: wrap; 
} */

.card-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -10px;
  margin-bottom: -30px;
  font-size: 17px;
}
